/static/img/
*.o
*.pyc
.DS_Store
conf.py
/static/font/
/taskserver.info
/taskserver.log

*~

/static/src/non-native-contacts/find_pairs_path_v2
/static/src/step-1-find-initial-point/1_locate_struct_on_cusp_v2
/static/src/step-2-minimize-on-cusp/2_find_min_on_cusp_v4
/static/src/step-3-slide-down/3_desc_one_surface_v3
/static/src/step-4-collect-structures/4_collec_ener_v2
/static/src/step-5-make-pathway/5_makepathway_v2

/static/src/anm_pathway.tar.gz

/rsync.com
