{% extends "base.html" %}

{% block javascript %}

$(document).ready(function() {
  // popover initialize
  $('.badge').popover('hide');

  // add chain selection
  function add_chain_selection(x) {
    $(x).parents('tr').after('<tr><td></td><td>'+$(x).parent().prev().html()+'</td><td><i class="iconic-o-plus"></i><i class="iconic-o-minus"></i></td></tr>');
    $('.iconic-o-plus').click(function() { add_chain_selection(this); });
    $('.iconic-o-minus').click(function() { remove_chain_selection(this); });
  }

  function remove_chain_selection(x) {
    $(x).parents('tr').remove();
  }

  $('.iconic-o-plus').click(function() {
    add_chain_selection(this);
  });

  // adjusting default step size when force constant was changed
  // rule of thumb is using twice smaller step size if twice larger force constant was used
  var default_fc = 0.1;
  var default_stepsize_cusp = 0.8;
  var default_stepsize_slid = 0.04;
  $('input[name=fc1]').change(function() {
    adjust_stepsize();
  });

  $('input[name=fc2]').change(function() {
    adjust_stepsize();
  });

  function adjust_stepsize() {
    $('input[name=stepsize_cusp1]').val(default_stepsize_cusp / ($('input[name=fc1]').val()/default_fc))
    $('input[name=stepsize_cusp2]').val(default_stepsize_cusp / ($('input[name=fc2]').val()/default_fc))
    $('input[name=stepsize_slid1]').val(default_stepsize_slid / ($('input[name=fc1]').val()/default_fc))
    $('input[name=stepsize_slid2]').val(default_stepsize_slid / ($('input[name=fc2]').val()/default_fc))
  }

  $('#form').submit(function() {
    is_valid = true;
{% if step == 1 %}
    if (!$('input[type=email]').val()) {
      myalert('Email address is required');
      is_valid = false;
    }

    var pdb1 = [];
    $('input[type=checkbox][name=chains1]').each(function(idx, val) {
      if (val.checked) {
        $('input[type=text][name="chain1.'+val.value+'.from"]').each(function(idx, val) {
          pdb1.push($(val).next()[0].value - val.value);
        })
      }
    })

    var pdb2 = [];
    $('input[type=checkbox][name=chains2]').each(function(idx, val) {
      if (val.checked) {
        $('input[type=text][name="chain2.'+val.value+'.from"]').each(function(idx, val) {
          pdb2.push($(val).next()[0].value - val.value);
        })
      }
    })

    for (var i=0; i<pdb1.length; i++) {
      if (pdb1[i] != pdb2[i]) {
        myalert('Some selection(s) has different number of residues selected');
        is_valid = false;
      }
    }

    if (pdb1.length != pdb2.length) {
      myalert('Please select same number of selection for each PDB');
      is_valid = false;
    } 
    
{% else %}
    filename = '';
    $('input[type=file]').each(function() {
      if (!this.value) {
        $(this).parent().addClass('btn-primary');
        is_valid = false;
        myalert('Please select two PDB files');
      }
      else {
        if ($(this).parent().hasClass('btn-primary')) $(this).parent().removeClass('btn-primary');
        if (filename == this.value) {
          myalert('Two PDB files are identical');
          is_valid = false;
        }
        filename = this.value;
      }
    })

{% endif %}
    return is_valid;
  });
});

function myalert(msg) {
  $('#message').show();
  $('span.alert-error').html(msg);
}
{% endblock %}

{% block content %}
<form class="form-horizontal" enctype="multipart/form-data" method="POST" id='form' action="{{ action|default(url_for('upload')) }}">

{% if step != 1 %}
<div class="alert alert-info">
Please upload two PDB files that represent initial and final state structures.
<ul>
  <li>ANMPathway assumes the number and the order of residues in two end-state structures are the same.</li>
  <li>ANMPathway can process multiple chains, but they have to be listed in the same order.</li>
  <li>Some PDB files contains multiple copies of monomers in the asymmetric unit. If you are interested in a transition undergone by a given chain, please either edit the input PDB file before uploading or select (chain selection option will be provided in the next step) only the chain that you are interested.</li>
</ul>

Once you upload PDB, there will be more options for the calculation. When the calculation is done, a set of output files will be delivered to the e-mail address you provided. These output files are:
<ul>
<li><i>pathway.pdb</i>: snapshots of transition pathway between the end states.</li>
<li><i>movie.gif</i>: an example movie generated based on pathway.pdb</li>
<li><i>close_contacts_5.0_10.0</i>: a list of residue paris that have contact during the transition.</li>
</ul>

For more information, please see <a href="http://anmpathway.lcrc.anl.gov/anmpathway.cgi/tutorial">Tutorial</a> page.
</div>
{% endif %}

<div class="control-group">
  <label class="control-label">Initial PDB</label>
  <div class="controls">
{% if not pdb1 %}
<div class="fileupload fileupload-new" data-provides="fileupload">
<span class="btn btn-file" id='pickfiles'><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name='pdb1' /></span>
<span class="fileupload-preview"></span>
<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
</div>
{% else %}
  <span class="control-label help-inline">{{ pdb1.filename }}</span>
  <input type="hidden" name="pdb1" value="{{ pdb1.filename }}">
{% endif %}
  </div>
</div>

{% if chains1 %}
<div class="control-group">
  <label class="control-label">Chains for initial PDB</label>
  <div class="controls">

<table class='table-condensed'>
{% for k,chains in chains1 %}
{% for v in chains %}
  <tr>
    <td>
    {% if loop.index == 1 %}
      <label class="checkbox inline" style="padding-top: 0px;">
        <input type="checkbox" name="chains1" value="{{ k }}" checked> {{ k }}
      </label>
    {% endif %}
    </td>
    <td>
      <span style='width: 15px; display: inline-block;'></span>
      <input type="text" value="{{ v.0 }}" name="chain1.{{k}}.from" style="height: 14px; line-height: 14px;" class="input-mini" required>
      to
      <input type="text" value="{{ v.1 }}" name="chain1.{{k}}.to"   style="height: 14px; line-height: 14px;" class="input-mini" required>
    </td>
    <td>
      <i class="iconic-o-plus"></i>
    {% if loop.index > 1 %}
      <i class="iconic-o-minus"></i>
    {% endif %}
    </td>
  </tr>
{% endfor %}
{% endfor %}
</table>
  </div>
</div>
{% endif %}

<div class="control-group">
  <label class="control-label">Final PDB</label>
  <div class="controls">
{% if not pdb2 %}
<div class="fileupload fileupload-new" data-provides="fileupload">
<span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name='pdb2' /></span>
<span class="fileupload-preview"></span>
<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
</div>
{% else %}
  <span class="control-label help-inline">{{ pdb2.filename }}</span>
  <input type="hidden" name="pdb2" value="{{ pdb2.filename }}">
{% endif %}
  </div>
</div>

{% if chains2 %}
<div class="control-group">
  <label class="control-label">Chains for final PDB</label>
  <div class="controls">

<table class='table-condensed'>
{% for k,chains in chains2 %}
{% for v in chains %}
  <tr>
    <td>
      <label class="checkbox inline" style="padding-top: 0px;">
        <input type="checkbox" name="chains2" value="{{ k }}" checked> {{ k }}
      </label>
    </td>
    <td>
      <span style='width: 15px; display: inline-block;'></span>
      <input type="text" value="{{ v.0 }}" name="chain2.{{k}}.from" style="height: 14px; line-height: 14px;" class="input-mini" required>
      to
      <input type="text" value="{{ v.1 }}" name="chain2.{{k}}.to"   style="height: 14px; line-height: 14px;" class="input-mini" required>
    </td>
    <td>
      <i class="iconic-o-plus"></i>
    </td>
  </tr>
{% endfor %}
{% endfor %}
</table>
  </div>
</div>
{% endif %}

{% if step != 1 %}
<div class="control-group" id='message'{% if not error or error.code == 200 %} style="display: none"{% endif %}>
  <div class="controls">
    <span class="help-inline alert alert-error">{% if error and error.code != 200 %}{{ error.message }}{% endif %}</span>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button class="btn" type="submit" id='upload'>Upload PDB</button>
  </div>
</div>
{% endif %}

{% if step == 1 %}
<div class="control-group">
  <label class="control-label">Parameter for Initial PDB</label>
  <div class="controls">

    <table class="table-condensed">
      <tr>
        <td>Force constant</td>
        <td>
          <input type="text" name='fc1' value='0.1' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Force constant for the ANM around end structure 1">?</a>
        </td>
      </tr>
      <tr>
        <td>Cut-off</td>
        <td>
          <input type="text" name='cutoff1' value='15.0' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Cut-off distance for the ANM around end structure 1">?</a>
        </td>
      </tr>
      <tr>
        <td>Energy offset</td>
        <td>
          <input type="text" name='offset1' value='0.0' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Explain what this value means briefly">?</a>
        </td>
      </tr>
      <tr>
        <td>Step size (on cusp)</td>
        <td>
          <input type="text" name='stepsize_cusp1' value='0.8' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Starting step-size for the minimization on the cusp hypersurface. If this is too large it will be adjusted systematically.">?</a>
        </td>
      </tr>
      <tr>
        <td>Step size (slide down)</td>
        <td>
          <input type="text" name='stepsize_slid1' value='0.04' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Starting step-size for the steepest descent minimization on surface 1 (defined by the ANM around end structure 1). The step-size will be adjusted if found inadequate.">?</a>
        </td>
      </tr>
    </table>

  </div>
</div>

<div class="control-group">
  <label class="control-label">Parameter for Final PDB</label>
  <div class="controls">

    <table class="table-condensed">
      <tr>
        <td>Force constant</td>
        <td>
          <input type="text" name='fc2' value='0.1' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Force constant for the ANM around end structure 2">?</a>
        </td>
      </tr>
      <tr>
        <td>Cut-off</td>
        <td>
          <input type="text" name='cutoff2' value='15.0' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Cut-off distance for the ANM around end structure 2">?</a>
        </td>
      </tr>
      <tr>
        <td>Energy offset</td>
        <td>
          <input type="text" name='offset2' value='0.0' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Explain what this value means briefly">?</a>
        </td>
      </tr>
      <tr>
        <td>Step size (on cusp)</td>
        <td>
          <input type="text" name='stepsize_cusp2' value='0.8' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Starting step-size for the minimization on the cusp hypersurface. If this is too large it will be adjusted systematically.">?</a>
        </td>
      </tr>
      <tr>
        <td>Step size (slide down)</td>
        <td>
          <input type="text" name='stepsize_slid2' value='0.04' class="input-mini" style="height: 14px; line-height: 14px;" required>
          <span class='badge' data-toggle="popover" data-placement="right" data-content="Starting step-size for the steepest descent minimization on surface 2 (defined by the ANM around end structure 2). The step-size will be adjusted if found inadequate.">?</a>
        </td>
      </tr>
    </table>

  </div>
</div>

<div class="control-group">
  <label class="control-label">Target RMSD</label>
  <div class="controls">
    <input type="text" name='target_rmsd' value='0.1' class="input-mini" style="height: 14px; line-height: 14px;" required>
    <span class='badge' data-toggle="popover" data-placement="right" data-content="RMSD difference between two consecutive structure in the final pathway." required>?</a>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">
    <input type="email" name='email' required>
    <span class='help-inline'>required</span>
  </div>
</div>

<div class="control-group" id='message'{% if not error or error.code == 200 %} style="display: none"{% endif %}>
  <div class="controls">
    <span class="help-inline alert alert-error">{% if error and error.code != 200 %}{{ error.message }}{% endif %}</span>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button class="btn" type="submit">Run ANMPathway</button>
  </div>
</div>
{% endif %}
</form>

{% endblock %}
