{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Awesome PathFinder</h1>
  <p class="lead">Find transition pathway between two protein structures.</p>
  <p><a class="btn btn-large btn-success" href="{{ url_for('pathfinder') }}">Start PathFinder</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  </div>

  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  </div>
</div>
{% endblock %}
