{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>ANM Pathway</h1>
  <p class="lead">Find transition pathway between two protein conformations</p>
</div>

<hr>

<div class="row-fluid marketing text-center">
<div class='hero-unit'>
{% if status == 'Q' %}
  <h3>Your job is waiting in queue.</h3>
{% elif status == 'R' %}
  <h3>Your job is currently running.</h3>
{% elif status == 'F' or status == 'E' %}
  <h3>Your job is finished.</h3>
{% endif %}

  <p>
  {% if status == 'E' %}
    There was an error. Please contact us for more detail.
  {% elif status == 'F' %}
    Please click <a href="{{ url_for('download', uuid=uuid) }}">here</a> to download all outputs.
  {% else %}
    An e-mail will be sent when the job is over.
  {% endif %}
  </p>
  <p> JOBID: {{ uuid }} </p>
</div>
</div>

{% endblock %}
