{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>PathFinder</h1>
  <p class="lead">Find transition pathway between two protein conformations</p>
</div>

<hr>

<div class="row-fluid marketing text-center">
<div class='hero-unit'>
  <h3>Your job is successfully submitted.</h3>

  <p>
    An e-mail will be sent when the job is over.<br/>
    Click <a href="{{ url_for('status', uuid=uuid) }}">here</a> to check the status of your job.
  </p>
  <p> JOBID: {{ uuid }} </p>
</div>
</div>

{% endblock %}
